<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"/>
    <!--<link rel="stylesheet" type="text/css" href="\src\static\css\style.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Home Page - UNES</title>
</head>
<body>   
    <title>Home Page - UNES</title>
  </head>
  <body id="body-others">

    <header>
      <img src="static/img/logo.png" alt="Logo" id="logo" />
      <nav>
          <li><a href="/index" target="_blank">Home</a>|</li>
            <li><a href="/quem_somos" target="_blank">Quem Somos</a>|</li>
            <li><a href="/contato" target="_blank">Contato</a></li>
      </nav>
    </header>

    <div class="texto-contato">
      <h1>Entre em contato</h1>
      <br />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi quidem deleniti nulla
      </p>
      <br />
      <hr />
      <br />
      <form action="">
        <label for="">Seu e-mail:</label><br />
        <input type="email" name="email" id="email" /><br />
        <label for="">Assunto:</label><br />
        <input type="text" name="assunto" id="assunto" /><br />
        <label for="">Descrição:</label><br />
        <input type="text" name="descricao" id="descriçao" /><br /><br />
        <input type="button" value="Enviar" />
      </form>
    </div>

    <footer>
      <h4>Todos os direitos reservados</h4>
    </footer>
  </body>
</html>
