<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="\src\static\css\style.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Home Page - UNES</title>
</head>
<body>  
    <title>Home Page - UNES</title>
</head>
<body id="body-others"> 

    <header>
        <img src="static/img/logo.png" alt="Logo" id="logo">
        <nav>
            <li><a href="/index" target="_blank">Home</a>|</li>
            <li><a href="/quem_somos" target="_blank">Quem Somos</a>|</li>
            <li><a href="/contato" target="_blank">Contato</a></li>
        </nav>
    </header>

    <div class="texto-QS">
        <h1>Quem somos</h1>
        <br />
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium excepturi quidem deleniti nulla, voluptate eius aspernatur vitae debitis nisi pariatur quibusdam maxime! Omnis, quis ipsam tenetur cum quia aspernatur modi? Dolores quod tempora adipisci suscipit iure enim magni, consectetur corporis doloremque non aut, et eius in officiis, obcaecati molestias iusto placeat mollitia nemo! Corporis explicabo vel tenetur ea eaque exercitationem!</p>
        <br />
        <p>Possimus veniam illo at blanditiis id fugiat perspiciatis repellat, consequuntur ducimus asperiores omnis mollitia laborum et alias. Eveniet sequi sint aspernatur explicabo molestiae, animi, reiciendis expedita in, blanditiis quia tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut sed repudiandae totam voluptatibus natus voluptate ipsum error perspiciatis? Quidem, temporibus aliquid. Nobis, dignissimos. Itaque debitis quisquam blanditiis, ducimus deserunt voluptatibus.</p>
        <br/>
        <h1>5 motivos para estudar</h1>
        <br>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <br />
        <hr>
        <br>
        <h1>Quem somos</h1>
        <br />
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium excepturi quidem deleniti nulla, voluptate eius aspernatur vitae debitis nisi pariatur quibusdam maxime! Omnis, quis ipsam tenetur cum quia aspernatur modi? Dolores quod tempora adipisci suscipit iure enim magni, consectetur corporis doloremque non aut, et eius in officiis, obcaecati molestias iusto placeat mollitia nemo! Corporis explicabo vel tenetur ea eaque exercitationem!</p>
    </div>

    <footer>
        <h4>Todos os direitos reservados</h4>
    </footer>   
</body>
</html>